body {
    font-family: Arial, sans-serif;
    background: beige;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center; 
}

h1 {
    color: #ffcc00;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

.fun-fact {
    font-weight: bold;
    color: #FF5733;
}